.light-theme {
    background-color: white;
    color: black;

}
.black {
    background-color: black;
    color: white;
    max-height: 100vh;
}
.container {
    padding: 0 10px;
    max-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}